.navbar{
height:5em;
background-color: #043273;
display:flex;
justify-content: center;
}
.navbarContainer{
width:100%;
max-width:1149px;
color:white;
display: flex;
align-items:center;
justify-content: space-between;
}

.logo{
    font-weight: 500;
    font-size: 1.5em;
}
.navButton{
color:rgb(24, 60, 159);
border: none;
padding:10px 22px;
margin-left:20px;
cursor:pointer;
background-color: white;
font-size: inherit;
font-weight: inherit;
margin-left: 0.1em;
}
.navButton:hover{
    background-color: rgb(188, 203, 209);
}
.navButtonList{
    border: 2px solid white;
    color: white;
    background-color: #043273;
    border-radius: 2px;
    font-weight: 600;
    padding: 10px;
    margin-left: 0.4em;
}
.navItems{
    display: flex;
    align-items: center;
    width: 30em;
    justify-content: space-between;
}
#navSpan{
    font-weight: 600;
    padding: 5px;
}
#navSpan:hover{
    background-color: #1f4e90;
    border-radius: 2px;
}
.navButtonList:hover{
    background-color: #1f4e90;
}
.navbarImg{
    border-radius: 3em;
    width: 2em;
    margin-top: 0.2em;
    padding: 7px;
}
.navbarImg:hover{
    background-color: #1f4e90;
}