.nexttripList{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 210px;
    
}
.nexttripListItem{
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    flex:1;
    height: 200px;
}
.nexttripListImg{
    width:100%;
    object-fit: cover;
    height: 210px;
}
.nexttripListTitle{
    position: relative;
}
.nexttripListTitle > h1{
    position:absolute;
    bottom:15px;
    left: 10px;
    color:white;
    font-size: 1.1em;
    
}
.nexttripListTitle > button{
position: absolute;
bottom:30px;
left:47px;
background-color:  #142489;
color:white;
padding:10px;
cursor: pointer;
}
#quiz{
    background-color:blue;
}
.nexttripListTitle > button:hover{
background-color: #323537;;
}